@using HUTModels;
@model IEnumerable<Person>
@{
    ViewBag.Title = "Home Use Tracker";
}

<div class="jumbotron">
    <h1>Home Use Tracker</h1>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>People/Users</h2>
        @foreach (var item in Model)
        {
            <h1>@item.Firstname @item.Lastname</h1>
        }
    </div>
    
    
</div>