
@{
    ViewBag.Title = "Foods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<h3>Search for an existing food item to edit or add a new food</h3>
<br />
<div id="foodsDiv">
    <div class="col-md-6 ui-widget">
        <h4>Search</h4>
        <h5>Enter the name to find the food</h5>
        <input id="searchFood" class="FoodsText" type="text" maxlength="200" />
        <br />
        <button class="btn btn-success" onclick="clearSearch()" type="button">Clear Search</button>
    </div>   
    <div class="col-md-6">
        <h4>Add/Edit Food</h4>
        <h5>Food Name</h5>
        <input id="foodDescription" class="FoodsText" type="text" maxlength="200" required />
        <br />
        <h5>Calories Per 100 Grams</h5>
        <input id="caloriesPer100Grams" type="number" />
        <input id="foodId" type="number" hidden />
        <button class="btn btn-success" onclick="addFood()" type="button">Save as new Food</button>&nbsp;
        <button class="btn btn-warning" onclick="editFood()" type="button">Save Edits</button>
    </div>
    <br />
    <div class="col-md-6 col-md-offset-6">
        <h4>Quick Calculation</h4>
        <h5>Grams</h5>
        <input id="grams" type="number" />
        <button class="btn btn-info" onclick="calculate()" type="button">Calculate</button>
        <br/>
        <div id="calories"></div>
    </div>
</div>

<script type="text/javascript">
    $("document").ready(function () {

        $("#searchFood").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetListOfFoods", "Food")",
                    dataType: "json",
                    data: {
                        searchTerm: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                @* must use "label" or else the description will not show *@
                                label: item.Description,
                                caloriesPer100Grams: item.CaloriesPer100Grams,
                                foodId: item.FoodId
                            };
                        }));
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $("#foodDescription").val(ui.item.label);
                $("#caloriesPer100Grams").val(ui.item.caloriesPer100Grams);
                $("#foodId").val(ui.item.foodId);
            }
        });
    })

    function clearSearch() {
        $("#searchFood").val(null);
    }

    function calculate() {
        var c = $("#caloriesPer100Grams").val();
        var g = $("#grams").val();
        var amount = Math.round((g / 100) * c);

        $("#calories").html(amount + " calories for " + g + " grams");
    }

    function addFood() {
        var d = $("#foodDescription").val();
        var c = $("#caloriesPer100Grams").val();

        var json = {
            description: d,
            caloriesPer100Grams: c
        };

        $.ajax({
            url: "@Url.Action("Insert", "Food")",
            dataType: "json",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(json),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                @* not sure what to return yet *@
                $("#foodDescription").val(null);
                $("#caloriesPer100Grams").val(null);
            }
        })
    }

    function editFood() {
        var d = $("#foodDescription").val();
        var c = $("#caloriesPer100Grams").val();
        var i = $("#foodId").val();

        var json = {
            Description: d,
            CaloriesPer100Grams: c,
            FoodId: i
        };

        $.ajax({
            url: "@Url.Action("Edit", "Food")",
            dataType: "json",
            type: "PUT",
            contentType: "application/json",
            data: JSON.stringify(json),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                @* not sure what to return yet *@
                $("#foodDescription").val(null);
                $("#caloriesPer100Grams").val(null);
                $("#foodId").val(null);
                $("#searchFood").val(null);
            }
        })
    }

</script>