body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-background {
    background-image: url('../Images/rampsandbread.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Set padding to keep content from hitting the edges */
.div-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
    height: 40px;
    padding: 4px;
    margin: 4px;
}

.dropdown {
   line-height: 80px;   
}

/*.jumbotron {
    background-color: rgba(68, 202, 193, 1);
    padding: 10px;
}*/

.CurrentDateTime {
    text-align: right;
    position: relative;
    display: block;
    padding: 15px 15px;
    margin-bottom: 0px;
    color: white;
}

.FoodsText {
    width: 100%;
}

.img-from-service {
    margin-top: 10px;
    margin-bottom: 10px;
}